
@{
    ViewData["Title"] = "Index";
    List<Tasks> tasks = (List<Tasks>)ViewData["nameof(Tasks)"];
}

<h1>Index</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Task</th>
        <th>Due Date</th>
        <th>Completed</th>
    </tr>
    @foreach (Tasks t in tasks)
    {
        <tr>
            <td>@t.Id</td>
            <td>@t.TaskDescription</td>
            <td>@t.DueDate</td>

            @if (t.Completed == 1)
            {
                <td> Completed </td>
                <td><a href="/Tasks/ChangeStatus/@t.Id">Mark as In Progress</a></td>
            }
            else
            {
                <td> In Progress </td>
                <td><a href="/Tasks/ChangeStatus/@t.Id">Mark as Completed</a></td>
            }
        </tr>
    }

</table>