@{
    ViewData["Title"] = "SortByStatusDESC";
    List<Tasks> tasks = (List<Tasks>)ViewData["nameof(Tasks)"];
}


<h1>Sort Descending</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Task</th>
        <th>Due Date</th>
        <th><a href="SortByStatusASC">Completed</a></th>
    </tr>
    @foreach (Tasks t in tasks)
    {
        <tr>
            <td>@t.Id</td>
            <td>@t.TaskDescription</td>
            <td>@t.DueDate</td>

            @if (t.Completed == 1)
            {
                <td> Completed </td>
                <td><a href="/Tasks/ChangeStatus/@t.Id">Mark as In Progress</a></td>
            }
            else
            {
                <td> In Progress </td>
                <td><a href="/Tasks/ChangeStatus/@t.Id">Mark as Completed</a></td>
            }
            <td><a href="/Tasks/EdittaskForm/@t.Id">Edit</a></td>
            <td><a href="/Tasks/DeleteTask/@t.Id">Delete</a></td>
        </tr>
    }

    <tr><td><a href="Tasks/AddTaskForm">Add Task</a></td></tr>

</table>